.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

codebase.md
.cursor/
**/.claude/settings.local.json
.claude/
update_assets.sh
.aidigestignore